li.Contact{
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 5px;
}
li.Contact > span.phone{
    color: #888;
    font-size: 14px;
}
li.Contact > span.star-icon-container{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    cursor: pointer;
}
li.Contact > span.star-icon-container.favorite{
    color: gold;
}
.hidden{
    display: none;
}